div {
    height: 100px;
    width: 100px;
    border:1px solid black;
    margin :5px;
    text-align: center;
    background-color: red;
}

.dark {
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}